<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<link rel="stylesheet" href="/static/css/intro.css" type="text/css">-->

    <!--НЕ ЗАБЫТЬ ПОМЕНЯТЬ ССЫЛКИ НА СЕРВЕРНЫЕ-->
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/static/js/intro.js"></script>
    <link rel="stylesheet" href="/static/css/intro.css" type="text/css">
    <title>Artuomka Paint</title>
</head>
<body>
<div class="wrapper-all">
    <h1>Welcome!</h1>
    <p> <h2>please select a room:</h2> </p>
    <div class="wrapper-img">
        <div class="line">
            <img src="/static/img/room1.png" alt="ROOM 1" id="room1">
            <img src="/static/img/room2.png" alt="ROOM 2" id="room2">
        </div>

        <div class="line">
            <img src="/static/img/room3.png" alt="ROOM 3" id="room3">
            <img src="/static/img/room4.png" alt="ROOM 4" id="room4">
        </div>
    </div>
</div>
</body>
</html>